[submodule "contributions/pandoc-to-markdown"]
	path = contributions/pandoc-to-markdown
	url = https://github.com/drehak/pandoc-to-markdown.git
[submodule "contributions/md-templates"]
	path = contributions/book-templates
	url = https://github.com/xvrabcov/md-templates
[submodule "contributions/doctoral-thesis"]
	path = contributions/doctoral-thesis
	url = https://github.com/witiko/doctoral-thesis
[submodule "contributions/MarkX"]
	path = contributions/MarkX
	url = https://github.com/lostenderman/MarkX
[submodule "contributions/37c3-beamer"]
	path = contributions/37c3-beamer
	url = https://github.com/TeXhackse/37c3-beamer.git
[submodule "contributions/istqb_product_base"]
	path = contributions/istqb_product_base
	url = https://github.com/istqborg/istqb_product_base.git
[submodule "contributions/fithesis"]
	path = contributions/fithesis
	url = https://gitlab.fi.muni.cz/external_relations/document_templates/fithesis.git
